out
node_modules
client/server
.vscode-test
.antlr
grammar/test
parser2
test.c
test*.c
test*.h
.DS_Store
*.vsix
coverage
*.heapsnapshot
vscode-profile-*.*
tsconfig.tsbuildinfo
isolate*.log
lib/**/*
!lib/package.json
!lib/README.md
launch.json