.vscode/**
.github/**
.git/**
node_modules/**
**/*.ts
**/*.map
.gitignore
.prettierignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
out/**/*
client/
server/
grammar/
test*.c
test*.h
efuns/
!out/server/src/cli/**.*
!out/server/src/server.js
!out/server/src/server.js.map
!out/client/src/extension.js
!out/client/src/extension.js.map
!out/server/src/efuns/**/*
!out/lib/**/*
jest.config.ts
tests/
coverage/
lpc-config.json
*.heapsnapshot
vscode-profile-*.*
build*.mjs
build*.js
scripts/
lib/