.vscode/**
.github/**
.git/**
node_modules/**
**/*.ts
**/*.map
.gitignore
.prettierignore
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
out/**/*
client/
server/
grammar/
test*.c
test*.h
!out/server/src/server.js
!out/server/src/server.map.js
!out/client/src/extension.js
!out/client/src/extension.map.js
jest.config.ts
tests/
coverage/